.cartPage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem;
}

.cartContainer {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.cartItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cartItemImage {
  width: 80px;
  height: auto;
  margin-right: 15px;
  border-radius: 5px;
}

.cartItemDetails {
  flex: 1;
  text-align: left;
}

.cartItemQuantity {
  margin-top: 5px;
}

.quantityInput {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.removeButton {
  margin-top: 10px;
  background-color: #f44336 !important;
}

.totalPrice {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.checkoutButton {
  background-color: #f58a08 !important;
  color: white !important;
  padding: 0.75rem; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  margin-top: 20px;
  border: 2px solid transparent;
  width: 100%; 
  padding-top: 1rem; 
  padding-bottom: 1rem;
}

.checkoutButton:hover {
  background-color: white !important;
  color: #f58a08 !important;
  border: 2px solid #f58a08 !important;
}

@media (min-width: 768px) {
  .cartContainer {
    width: 50%;
    max-width: 600px;
  }
}
