.product-section {
    background-color: #fdbec5;
    padding: 8rem 0rem;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    .products-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}