.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-left img {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
}

.hamburger span {
  display: block;
  width: 29px;
  height: 2px;
  background-color: #f58a08;
  margin: 3px 0;
  transition: all 0.3s ease;
  transform-origin: center;
}

.navbar-left.open .hamburger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-left.open .hamburger span:nth-child(2) {
  opacity: 0;
}

.navbar-left.open .hamburger span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.navbar-left ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-left li::before {
  content: none;
}

.navbar-left li {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.cart-icon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.navbar-right li:hover {

}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-left ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 103px;
    right: 0;
    background-color: white;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
  }

  .navbar-left.open ul {
    display: flex;
  }

  .navbar-right li {
    margin: 0.5rem 1rem;
    text-align: center;
    transition: transform 0.s ease;
  }
}

.navbar a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  font-weight: bold;
  transition: transform 0.5s ease;
}

.navbar-middle img {
  height: 68px;
  transition: transform 0.3s ease;
}

.navbar-middle img:hover {
  transform: scale(1.05);
}
