/* Container für die Slideshow */
.sliderContainer {
  position: relative;
  width: 100%;
  height: 400px; /* Höhe anpassen */
  overflow: hidden;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sorgt dafür, dass das Bild den Container vollständig ausfüllt */
}

/* Anpassung der Punkte für die Slideshow */
.slick-dots {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.slick-dots li {
  margin: 5px 0;
}

.customDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f58a08;
}

.slick-dots li.slick-active .customDot {
  background-color: #fff; /* Aktive Punkte */
}

/* Rest des Designs */
.container1 {
  margin: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.container2 {
  background-color: beige;
  margin: 2rem 0rem;
  padding: 2rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.listWelcome li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.listWelcome li::before {
  content: "✓";
  font-weight: bold;
  position: absolute;
  left: 0;
  padding-left: 1rem;
}


/* .container1 {
  margin: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.container2 {
  background-color: beige;
    margin: 2rem 0rem;
    padding: 2rem
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.header{
  width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.listWelcome ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.listWelcome li::before {
  content: "✓";
  font-weight: bold;
  position: absolute;
  left: 0;
  padding-left: 1rem;
} */
