.container1 {
  margin: 3rem;
}
.container2,
.container3,
.container4 {
  margin: 0.5rem auto;
  width: 400px;
  height: 250px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s ease-in-out forwards;
}
.container2 {
  background-color: #FFC885;
  animation-delay: 0s;
}
.container3 {
  background-color: #FFC885;
  animation-delay: 0.5s;
}
.container4 {
  background-color: #FFC885;
  animation-delay: 1s;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.listWelcome {
  list-style: none;
  padding: 0;
}
.listWelcome li {
  font-size: 1.3rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.listWelcome li::before {
  font-size: 1.5rem;
}
.downloadButton {
  background: none;
  border: none;
  font-size: 18px;
  margin-left: 8px;
  color: white;
  transition: color 0.3s ease-in-out;
}