.container1 {
  margin: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.container2 {
  background-color: beige;
    margin: 2rem 0rem;
    padding: 2rem
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.header{
  width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.listWelcome ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.listWelcome li::before {
  content: "✓";
  font-weight: bold;
  position: absolute;
  left: 0;
  padding-left: 1rem;
}
