.header-text {
    padding: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
}

h4 {
    margin-bottom: 2rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.header-bild{
    width: 100vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

ul li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

ul li::before {
    content: "✓";
    font-weight: bold;
    position: absolute;
    left: 0;
}

ul li strong {
}

.container {
    margin: 10px;
}

/* Mobile Styles muss noch eingefügt werden */