.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f58a08;
}

form {
    width: 100vw;
    background: #fff;
    padding: 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0 , .1);
    color: #333;
    margin: 1rem; 
    
}

form h2 {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

form .input-box {
    margin-top: 10px;
}

.input-box input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: 0.1rem solid #eaeaea;
    outline: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    color: #333;
}

.input-box textarea {
    width: 100%;
    height: 5rem;
    background: transparent;
    border: 0.1rem solid #eaeaea;
    outline: none;
    border-radius: 0.5rem;
    padding: 15px;
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
}

form button {
    width: 100%;
    height: 3rem;
    background: #9ee0f4;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0 , .1);
    cursor: pointer;
    font-size: 0.9rem;
    color: grey;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: #5fc1f0;
    color: #333;
}
