.footer {
  background-color: white;
  padding: 2rem;
  border-top: 2px solid #f58a08;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.copyright {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
  justify-content: flex-end;
  text-align: left;
}

.footer-links-container a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links-container a:hover {
  color: #f58a08;
}

/* .footer-links-container {
  display: flex;
  gap: 2rem;
  margin-left: auto;
} */
