.productDetailsContainer {
    max-width: 90%;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .imgProductDetails {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
 
  .btnProduct {
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: "background" 0.3s ease;
    margin-top: 1rem;
  }
  .btnProduct:hover {
    background-color: blue;
  }
  .btnProduct:disabled {
    background-color: gray;
    cursor: not-allowed;
   }