@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Titles */
.title-section {
  text-align: center;

  h3 {
      font-size: 1.5rem;
  }
}

/* ProductCards 
.product-card {
  background-color: #fff9ee;
  width: 18.75rem;
  padding: 1rem;

  .card-header {
    margin-bottom: 1rem;
    
    img {
      width: 100%;
    }
  }
}