* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%; /* das hat Nell geändert*/
}

/* Titles */
.title-section {
  text-align: center;

  h3 {
    font-size: 1.5rem;
  }
}
