/* CardRiddle.module.css */

/* Container f端r die Fragekarte */
.card {
  background: #cbe07c;
  border: 2px solid #478121;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 280px;
  margin: auto;
}

/* Frage-Text */
.question {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Container f端r Antwortoptionen, als Spalte angeordnet */
.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Stil f端r jeden Antwort-Button */
.optionButton {
  padding: 0.5rem 1rem;
  border: 1px solid #794607;
  border-radius: 4px;
  background-color: #fff4e2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover-Zustand f端r Antwort-Buttons */
.optionButton:hover {
  background-color: #e1efc4;
  color: #794607;
}
