/* TM.module.css */
.mapContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* feste Höhe */
  background-color: #f0f0f0; /* Fallback Hintergrundfarbe */
}
/*
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Damit der Hintergrund hinter den animierten SVG-Elementen liegt 
} */

#Hintergrund {
  display: block; /* oder visibility: visible; */
} 

.st0 {
  fill: #ffffff; /*FArbe für den Pfad */
}

.st1 {
  fill: #a2cc81; /* Farben für den Pfad  - keine ahnung warum grün? */
}

/*.path {
  /* weitere animation für den pfad 
} 
*/
