/*TM.module.css */


/* (mobile-first) */
.mapContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sorgt dafür, dass das Bild immer passend skaliert */
  pointer-events: auto;
  z-index: 1;
}


.svgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
}

.treasureChest {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  max-width: 40%;  /* relative Breite, damit sie nicht zu groß wird */
}

/* Tablet-Version (ab 768px) */
@media (min-width: 768px) {

  .svgContainer {
    height: 100%;
  }
  
 
  .treasureChest {
    max-width: 30%;
    bottom: 20px;
  }
}

/* Desktop-Version (ab 1024px) */
@media (min-width: 1024px) {

  .svgContainer {
    height: 110%;
  }
  

  .treasureChest {
    max-width: 20%;
    bottom: 30px;
  }
}
