/* TreasureChest.module.css */
.chestContainer {
    position: absolute;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);
   width: 2360px;
    height: 1640px;
    /*overflow: visible;*/
    z-index: 20;
    cursor: pointer;  
  }
