.container {
    position: relative;
    width: 100%;
    height: 220px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: height 0.3s ease-in-out; 
  }
    
  .circle {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (min-width: 428px) {
    .container{
        height: 250px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      height: 350px; 
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      height: 400px; 
    }
  }
  

